<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testIosPro1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF3B258C1FC9893400D634F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF3B25A51FC9893400D634F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF3B25B01FC9893400D634F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
